body {
    background: #f2f2f2;
    font-family: Arial;
}

.container {
    width: 350px;
    margin: 50px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
}

input {
    width: 70%;
    padding: 8px;
}

button {
    padding: 8px 10px;
    cursor: pointer;
    background: #0284c7;
    color: white;
    border: none;
    border-radius: 5px;
}

li {
    margin-top: 10px;
}

